[2015-08-27 18:19] mdlincoln opened #1 "Implement clipboard clearing function"
`clear_clip()`

- [x] OS X
- [ ] Windows
- [ ] Linux

[2015-08-27 18:34] mdlincoln opened #2 "Warn when the clipboard is empty"
- [ ] OS X
- [ ] Windows
- [ ] Linux

[2015-08-27 20:19] mdlincoln opened #3 "Test read_clip() and write_clip() on all platforms"

[2015-08-28 01:10] #2 closed

[2015-08-30 16:54] mdlincoln opened #5 "Warning when trying to write non-character objects?"
And should we try to handle conversion? My instinct is no - deciding how to format the printing of an object should be left to the user, this package should just handle moving that text to the clipboard.

[2015-08-30 16:56] mdlincoln opened #6 "Warn when trying to write very large objects?"

[2015-08-30 21:16] lmmx commented on #5
It could warn "_not a character vector, coercing to one_"... but I think a clipboard handler should be quiet.

[Here](http://www.johndcook.com/blog/r_excel_clipboard/) for example users are forced to write 'glue code', `writeClipboard( as.character(x) )` when they clearly just mean `writeClipboard(x)`. Warning might be annoying.

I think it should assume\* what's passed in is either already a 1-tu

[2015-08-31 14:40] Pakillo commented on #3
Thanks for the package! I have checked it works on Windows 7. Session info:

[code]

Only problem I found was when copying this bit from your readme: `devtools::install("mdlincoln/clipr")` which introduced backslashes:

[code]

So I guess a problem with special characters...

BTW, shouldn't it be `install_github` rather than `install`?

Thanks

[2015-08-31 18:07] mdlincoln commented on #3
Thanks, and yes, the README should say that; #7 will fix that typo.

However, I'm presently working on test suites with [testthat](https://github.com/hadley/testthat) so we can automate testing on the [CRAN windows machine](http://win-builder.r-project.org/)

[2015-09-01 01:37] mdlincoln commented on #5
This is probably the best justification for not warning anyone :+1:

Closed by #7

[2015-09-01 01:37] #5 closed

[2015-09-02 18:05] hadley opened #8 "Use native (C) apis"
This package would be even more awesome (and more elegant) if instead of using command-line tools, you used the native API on each platform. This is probably a bit fiddly, but I but there are three people in the R community who each know how to do it on one platform.

cc @kevinushey, hint hint...

[2015-09-02 18:06] hadley commented on #8
(Another approach would be see if there's a similar package for python or ruby and modify the code to work with R instead)

[2015-09-02 19:19] lmmx commented on #8
Sounds like a good idea, it might well be faster - but a more complicated package.

A [GitHub search](https://github.com/search?l=C&q=clipboard&ref=opensearch&type=Repositories) brings up:
- [`trezker/clipboard`](https://github.com/trezker/clipboard), "aiming for cross-platform" but Linux-only (no license given)
- [`fumiyas/gclip`](https://github.com/fumiyas/gclip/blob/master/gclip.c), GTK (GNOME)

[2015-09-02 20:58] jimhester commented on #3
@mdlincoln I would suggest using https://github.com/krlmlr/r-appveyor to test on windows rather than spamming Uwe's machine.  You can setup [Travis](http://docs.travis-ci.com/user/languages/r/) to test on linux and osx.

[2015-09-03 08:39] smbache opened #9 "Clipboard for Shiny apps, ala github"
How about adding ZeroClipboard functionality for easy clipboarding in e.g. Shiny apps?
See https://github.com/zeroclipboard/zeroclipboard

AFAIK this is what Github uses for its "copy-to-clipboard" functionality...

[2015-09-03 16:10] mdlincoln commented on #9
What you're describing sounds like a browser widget for Shiny that writes to the _user's_ clipboard, not to the clipboard of the system actually running R. This seems like the territory of the browser interface, not server-side code. While that sounds useful, I think it is outside the bounds of this package.

[2015-09-03 16:10] #9 closed

[2015-09-03 16:11] #6 closed

[2015-09-03 16:13] smbache commented on #9
Sort of -- in a shiny app you still need the server to communicate the clipboard content in a manner that the user can reach...

But fair enough (would have been nice)

[2015-09-03 18:21] mdlincoln opened #10 "Table-like objects should be flattened with write.table()"
At the moment, passing in a data frame results in a less-that desirable output:

[code]

It would be better to default to `write.table()` somehow when a data frame is passed in. One could use the `sep = "\t"` option to allow easy pasting into Excel et al.

[2015-09-05 15:15] mdlincoln commented on #10
Closed with 3d28f3d7691639f34e0db2cb0e0d66af34e5f473

[2015-09-05 15:15] #10 closed

[2015-09-06 17:37] #3 closed

[2015-09-06 22:27] #1 closed

[2015-10-06 21:54] mdlincoln opened #11 "ending xclip/xsel processes"
The honorable BDR has raised an issue with the [pending CRAN submission](https://github.com/mdlincoln/clipr/commit/d14ed7f6b3473b34fbe2202a9a5a60a826f63368):

I'm not sure if this is avoidable. From the [xclip docs](http://linux.die.net/man/1/xclip):

And the [xsel docs](http://www.vergenet.net/~conrad/software/xsel/xsel.1x.html)

@lmmx Am I right in thinking that there is no way to kill either of

[2015-10-09 20:05] mdlincoln commented on #11
Closed by 05e59b4f4b04116442795dc76a014c9bfbecbe09

I'm putting a note in the docs explaining the behavior of xclip/xsel - hopefully this will satisfy the CRAN dragons.

[2015-10-09 20:05] #11 closed

[2015-10-09 23:00] lmmx commented on #11
Sorry Matthew! Thought I'd replied by email already, been off sick this week. No, to my understanding I _think_ it should be possible to end the process without wiping the clipboard, the clipboard(s) is (are) a fundamental thing in Linux, xclip is an external program downloaded to deal with it.

I dual booted into Windows 8 this week which then proceeded to delete my bootloader, so I can't get bac

[2016-06-17 02:44] #8 closed

[2016-06-20 19:18] r2evans opened #13 "using temp files on windows?"
Using `capture.output` with large objects can be really slow. Doing some console testing, number of rows is non-linear in its time-to-encode:

[code]

Whereas using temporary files is quite a bit faster:

[code]

And pasting into Excel works as expected in a fraction of the time.

Even going to the extreme row-count of Excel 2013/2016 (allowing for a header row):

[code]

(I don't want to try that

[2016-06-20 19:57] mdlincoln commented on #13
Oh, interesting problem! I'd not expected clipr to be used for such large payloads, but then again, why not? The temp file solution looks elegant enough (I'd use the `tempfile` function to create a filepath, though.)

`capture.output` is also used on OS X and X11-like systems, so let me take a look at the behavior there. If there's no adverse performance effects on those platforms to writing to a

[2016-06-20 20:12] r2evans commented on #13
Yes, `tempfile` was the assumed preferred method over my hard-coded filename.

It's always interesting to see how others use your packages in ways you had not imagined. I'm frequently trying to copy things between R and Excel, at times pushing Excel's limits. I was pointed to your package by @alistaire on StackOverflow, and that's when I learned about `utils::readClipboard` and family. I've had my

[2016-06-20 20:20] #13 closed

[2016-11-13 05:39] jennybc opened #14 "more extensive tests on travis"
I am using clipr in [reprex](https://github.com/jennybc/reprex) and had a bit of a struggle getting things set up on travis (surprise ha). But I eventually prevailed.

I learned a couple things that you might be able to use to test clipr more extensively on travis.

Here's my `.travis.yml` and everything beyond the minimum is related to clipr.

https://github.com/jennybc/reprex/blob/master/.travis

[2016-11-13 21:36] mdlincoln commented on #14
This is great, thank you! The reason my tests were passing is because they didn't really test the clipboard-writing functionality - they just checked that string formats for different objects were written correctly.

Now, this let's travis work well - but will it choke on CRAN without having that DISPLAY variable? Perhaps if we use `Sys.setenv` in the test script, rather than just in `.travis.yml`

[2016-11-13 23:26] mdlincoln commented on #14
Closed with 5fc54ff

[2016-11-14 03:46] jennybc commented on #14
CRAN is an interesting question. Because I don't think either xclip or xsel will be there for unix, correct? So I think we have to skip tests in that case. Does clipr already have a function that reports whether the clipboard is even writable / available? That would be handy and then both of us could use that in a test skipper. I guess it would affect lots of tests for you. For me, only a few, bec

[2016-11-14 04:23] mdlincoln commented on #14
That's quite a good idea - and I can see now how that'd be a great function to have exported if one wants to rely on the rest of clipr's functionality! I will write it in and try to get it posted up to CRAN with haste.

FWIW checking the [most recent CRAN results](https://cran.r-project.org/web/checks/check_results_clipr.html) it looks like all the -nix variants on CRAN have either xclip or xsel a

[2016-11-14 04:30] jennybc commented on #14
That function would be really helpful. Because I'd also like to check for clipr functionality in my package itself.

And, as the markdown shruggie expert, I think you mean ¯\_(ツ)_/¯.

[2016-11-14 04:32] mdlincoln commented on #14
As soon as my comment rendered, I knew you were going to say that 😆

[2016-11-14 05:31] mdlincoln commented on #14
I've added the fucntion `is_clipr_available()` which `try`s to write to the clipboard, and returns `TRUE`/`FALSE` based on that attempt. Does that feel sufficient?

[2016-11-14 06:51] jennybc commented on #14
I think so. Does it also try to read? I can't imagine when one works and the other doesn't, but maybe it's good to `try` both.

Name-wise, I note that `clipr_available()` or `clipboard_is_available()` reads better inside an `if()`.

[2016-11-14 07:50] jennybc commented on #14
Interesting. Just to be clear, you say this because your examples DO run and are effectively testing for the presence of xclip or xsel? This almost seems to good to be true. Because wouldn't that mean CRAN has also done the necessary setup with DISPLAY? I don't have a good sense for how plausible that is.

I can attest that r-hub's linux platforms do not have the clipboard set up 😔.

[2016-11-14 18:38] mdlincoln commented on #14
I've renamed to `clipr_available` and also added a check on `read_clip()`, because you never know.

The CRAN situation is befuddling - in part because I've not been as rigorous in my testing as I should have been! What I can see so far:
1. CRAN checks on 0.2.1
   - Examples that attempt `write_clip()` and `read_clip()` pass without complain
   - The tests passed too. But: while those tests called

[2016-11-14 19:58] mdlincoln commented on #14
Digging in more: so it turns out `clipr_available()` was missing the case in which xclip and/or xsel are installed, but due to `DISPLAY` problems mights still not be available. Trying another configuration now.

[2016-11-15 16:25] mdlincoln commented on #14
This now passes CRAN.

[2016-11-15 16:25] #14 closed

[2016-11-15 16:34] mdlincoln opened #15 "Fix revdep problems"
Fixing #14 means now that tests on reverse dependency [curlconverter](https://github.com/hrbrmstr/curlconverter) fail

[2016-11-15 17:21] jennybc commented on #14
🎉 On which OSes does this pass CRAN checks now? What's the status of your examples w/r/t/ dontrun?

I want to submit reprex soon-ish but want you to go first and test the waters 😄.

[2016-11-15 17:30] mdlincoln commented on #14
All my examples are now `\dontrun{}` - even though their Debian linux has xclip, it's not set up for headless xclip-ing. This also means that all tests on CRAN linux are skipped - but at least we can evaluate them on Travis linux.

Still waiting on #15, though it looks like that'll be a quick fix.

[2016-11-15 17:34] mdlincoln commented on #15
https://github.com/hrbrmstr/curlconverter/issues/12

[2016-11-19 17:35] jennybc opened #17 "clipr_available() needs to preserve current clipboard"
As it is, use of `clipr_available()` replaces current clipboard contents with the string "a".

[2016-11-19 18:51] #17 closed

[2016-11-19 19:05] mdlincoln opened #19 "Explain use of clipr_available in README"

[2016-11-19 19:21] #19 closed

[2016-11-25 17:55] mdlincoln opened #21 "Properly test clipr_available()"
After putting much effort into getting clipr to test properly on Travis (#14), there's still the issue of correctly testing whether `clipr_available()` actually does the job properly. Since we're using a build matrix on Travis, it's possible to explicitly test this function when we know that clipr ought to work (when `DISPLAY=:90.0`) and when it ought to fail (`DISPLAY=""`).

This is the code I'm

[2016-11-26 12:52] krivit commented on #21
For what it's worth, I just tested the version from #20, and it returns the correct answer within X (TRUE) and on a bare shell (FALSE).

I don't know TravisCI well enough to speculate what's going on. Can the R process see the DISPLAY variables? Is R under Travis built with X capabilities? What does `capabilities("X11")` say?

[2016-11-27 18:50] mdlincoln commented on #21
Turns out I had the `DISPLAY` variable set incorrectly - it should have been `:99.0` instead of `:90.0` :face_with_head_bandage: The fix passes on Travis now.

[2016-11-27 20:28] #21 closed

[2016-12-26 06:37] jennybc opened #22 "Warning when writing "" to clipboard"
I don't understand why this gives a warning.

[code]

Because it does seem to clear the clipboard?

[2016-12-26 06:49] jennybc opened #23 "NA input"
A single NA causes an error as input. Two NAs do not.

[code]

[2016-12-29 00:15] mdlincoln commented on #22
Some kind of weirdness with the underlying `pipe()` call.

[2017-01-06 20:14] mdlincoln commented on #22
As with all things clipr, this is still being tricky on Linux... still working on a fix.

[2017-01-06 20:18] mdlincoln commented on #22
OK, 0f6c9449fdcd2fd21994a448acd9bdb04f09bbff seems to have done it.

[2017-01-06 20:18] #22 closed

[2017-01-06 20:45] mdlincoln commented on #23
This is caused because `nchar(NA_character_)` returns `NA` - an invalid length for `writeChar` to use. The reason that `write_clip(c(NA_character_, NA_character_))` doesn't cause an issue is because, before writing out, `write_clip` collapses the multiple values with the system line break default (`\n` for OS X / Linux), using `paste0`, resulting in the string `NA\nNA`

Given that this is the defa

[2017-01-06 21:14] mdlincoln commented on #23
This was also a good impetus to fix handling of `NULL` and empty vectors!

[2017-01-06 21:14] #23 closed

[2017-01-06 21:31] mdlincoln commented on #15
Now fixed.

[2017-01-06 21:31] #15 closed

[2017-01-06 22:02] jennybc commented on #23
This might inspire me to retweet [this](https://twitter.com/JennyBryan/status/685883713301827584)

Anything that can be NULL, NA, or of length zero eventually will be.

[2017-01-06 23:39] mdlincoln commented on #23
😂  Indeed! This whole `NA` business made me add a whole bunch of new things to https://github.com/mdlincoln/fuzzr.

[2017-01-06 23:40] mdlincoln commented on #23
FYI @jennybc I'll be pushing this to CRAN in a day or two since I know you're trying to get reprex out - let me know if any other clipr edge cases pop up!

[2017-06-15 05:15] mdlincoln opened #24 "clipr failing with only xsel on ubuntu 16.+?"
https://github.com/MilesMcBain/datapasta/issues/42#issuecomment-307624324

[2017-06-16 21:46] mdlincoln commented on #24
85559d5cf7c3702b1c42223ff56e9a8a48891392 adds a set of builds to the Travis-CI matrix that will evaluate clipr on an xsel-only system. They are presently failing 😄

[2017-06-19 15:08] #24 closed

[2017-09-20 17:47] mdlincoln opened #27 "Send clipr dependency suggestions via clipr_available"
https://github.com/tidyverse/reprex/issues/105

[2017-09-20 19:02] mdlincoln opened #28 "xclip erroring unexpectedly"
[code]

[2017-09-30 13:56] mdlincoln commented on #28
Travis is passing now? Unclear what caused this to begin with... equally unclear why it's solved.

[2017-09-30 15:31] mdlincoln commented on #28
Hm, no, it appears that an uncached build on Travis fails, but not for xsel - just for xclip.

[2017-09-30 16:00] mdlincoln commented on #28
This is insane. Apparently, xclip now needs to be coaxed into having a clipboard by first calling it before running the script.

[2017-09-30 17:03] mdlincoln commented on #28
Closed with a02c4f5a

[2017-09-30 17:03] #28 closed

[2017-09-30 17:39] mdlincoln commented on #27
Done.

[2017-09-30 17:39] #27 closed

[2017-09-30 17:40] mdlincoln opened #29 "0.4.0 CRAN release"
- [x] revdep
- [x] NEWS
- [x] cran_comments
- [x] readme
- [x] Version

[2017-11-03 15:17] #29 closed

[2017-12-29 18:27] jennybc opened #30 "Response to CRAN"
cc @hrbrmstr @MilesMcBain

Bob, Miles, and I all got this email from Prof Brian Ripley recently:

I'm not working on this yet but we should coordinate our response. It is possible we might need/want something in clipr itself re: checking for interactive session and not being in tests. Regardless, it probably makes sense to discuss here.

[2017-12-29 19:38] mdlincoln commented on #30
Thanks @jennybc. I'm unsure whether this means they want those three packages to NOT invoke `clipr::write_clip`, or whether they want changes in `clipr` itself to prevent operation in a non-interactive session?

We could add an argument to read/write clip with `allow_non_interactive = FALSE` that defaults to preventing use, but can be overridden. I hesitate to hardcode logic into clipr that _compl

[2017-12-30 01:20] hrbrmstr commented on #30
I’m going to try to debug this weekend (I think I can come close to replicating CRAN’s test env in Docker).

But, (IMO) we shld all avoid testing clipboard-y things on CRAN.

[2017-12-30 01:23] jennybc commented on #30
Agreed. I believe that was my intent but I haven't checked yet to see exactly how I am violating this.

[2017-12-30 02:51] jennybc commented on #30
I think if they wanted a change in clipr itself, you @mdlincoln would have gotten an email. I think it's the other packages that need to respond. But it's possible that there's some addition here that would help us all. In any case, whatever we do, it should be recorded as a best practice for using clipr in a CRAN package.

[2018-01-02 07:11] MilesMcBain commented on #30
@mdlincoln I like your idea. It's simple and most of all kind to the CRAN maintainers. So it would error if used in a non-interactive session without the opt-in?

For `datapasta`, I think I will rejig my test skips such that all the tests with clipboard operations are skipped when in non-interactive mode. I'm wondering if I should also leave `skip_on_CRAN` in place as a safety. Thoughts anyone?

[2018-01-15 01:28] MilesMcBain commented on #30
Hey friends, I am wondering if this CRAN policy change will necessitate additional changes to those we have discussed. See: https://github.com/eddelbuettel/crp/commit/0c28586924a50c1ee545607192a4a10b3e165ebf

The policy seems to be saying writing to the clipboard is out of bounds with the qualification:

    Limited exceptions may be allowed in interactive sessions if the package obtains confirmat

[2018-01-15 01:57] jennybc commented on #30
I will consult with some colleagues and be back in touch.

[2018-01-15 15:57] hadley commented on #30
If the user is an interactive session, I think it will be ok to copy to the clipboard if it is clear that that is the primary purpose of the function. For example, copying to the clipboard is the primary means by which `reprex::reprex()` communicates back to the user, so no addition permission is required.

It's a bit trickier for non-intearctive sessions - I'd say that you should not copy to the

[2018-04-06 19:47] kwstat opened #31 "Need an extra column name when row.names=TRUE"
I'm on Windows 7, if it matters.  When I have an object that I write to the clipboard with row.names=TRUE, the column names need an extra delimiter inserted before the first column name.  Otherwise the column names end up shifted left one column when pasting into Excel.

[code]

The desired result should look like this (with an extra delimeter in front of "c"):
[code]

[2018-04-30 15:00] mdlincoln commented on #31
Thanks for the report - I'll take a look.

[2018-06-08 11:02] rorynolan opened #32 "Write files to clipboard?"
I'd like to be able to write files to clipboard, like what happens if you right click on a file and click `copy`. Perhaps there could be a function `clipr::write_clip_file()` or something like that where you pass the path to the file as an argument?
Loving the package, thanks for your great work.
Rory

[2018-06-13 04:52] mdlincoln commented on #32
Thanks very much for the suggestion. I'm glad to hear you are finding the package useful.

I don't think a function to do this fits in the scope of clipr. This package is designed to get objects out of R onto the clipboard, and clipboard contents out of the clipboard and into R objects.

Clipr would need to make a lot of assumptions about the contents of an arbitrary file on your computer to decid

[2018-06-13 04:52] #32 closed

[2018-06-13 05:13] mdlincoln commented on #30
I'm sorry to say other priorities meant I had to leave this fallow for some time. And reading over https://github.com/tidyverse/reprex/issues/171 I guess I'm still a bit confused what CRAN's current thinking is on this subject?

I'd like to push a small clipr update to address #31. Do we feel that coding in something explicitly to clipr is warranted, or would advice in the README about skipping te

[2018-06-14 04:47] #31 closed

[2018-06-23 19:26] mdlincoln commented on #30
Added advice to README to not use in non-interactive session.

[2018-06-24 10:54] kuzmenkov111 opened #33 "Does it work in Shiny?"
Many tanks for greate package.

Dose it work in shiny app?

[2018-06-24 23:22] mdlincoln commented on #33
That would be out of scope of this project - see this issue: https://github.com/mdlincoln/clipr/issues/9

[2018-07-10 22:07] NikNakk opened #35 "Default `col.names` FALSE when content is matrix"
Is there any reason that `col.names` defaults to FALSE when writing a matrix to the clipboard? There's an explicit check for this in `clipr:::table_str`:

[code]

I had been working around this by coercing to a `data.frame` first, though I see I can now just pass `col.names = TRUE` to `clipr::write_clip`.

It's presumably too late to change the default, since it may break people's existing code, b

[2018-07-18 19:12] jennybc opened #36 "Process hygiene on linux"
I'm just parking this here for the future, so feel free to close if it bothers you to leave it open. But, as you know, on linux, the use of clipr launches but does not close a process (via xsel and/or xclip). Which has caused trouble on CRAN with packages that actually exercise clipr code via example, test, or vignette. Everyone's current solution seems to be shutting down or removing all such cod

[2018-07-18 20:29] jennybc commented on #36
Another tidbit from @jmcphers. This is quite interesting because I suspect clipr only has a "process hygiene" problem on Linux (vs. macOS or Windows).

[2018-08-02 21:18] mdlincoln commented on #36
This all makes 100% sense when on CRAN.

But in interactive use, wouldn't this create unexpected behavior if one didn't realize that clipr would wipe your clipboard _on X11 and X11 only_ on closing the R session?

[2018-08-02 21:20] mdlincoln commented on #35
Thanks for raising this issue - it's a case that should definitely be called out in the documentation.

[2018-08-02 23:28] jennybc commented on #36
Confirming: when you say "wipe", I assume you mean "kill" (versus just remove the clipboard contents) (?).

I think processx (or actually the [ps](https://github.com/r-lib/ps) package) will provide a way for clipr to mark an xsel or xclip process that it launches (vs. a pre-existing one). And then presumably it would be safe / not shocking for clipr to kill such a process that it basically "owns".

[2018-08-02 23:29] jennybc commented on #36
cc @gaborcsardi

[2018-08-02 23:41] gaborcsardi commented on #36
So, dev versions of processx and ps have functionality to:
- mark an external process (and all of its subprocesses), and clean them up later;
- clean up all subprocesses started in test cases.
I am not sure which one is needed here.

[2018-12-28 11:41] danielsjf opened #37 "clipr::read_path()"
As a feature request, it would be convenient if clipr could also have a function to get the file or folder name of an object.

In Windows, there are ways to do this.
https://www.codeproject.com/Questions/614723/GetFileName-from-Clipboard-Cplusplus

[2019-01-08 13:23] mdlincoln opened #38 "CRAN having problems on Fedora"
BDR email below (FYI @jennybc @MilesMcBain I'll be looking into it this week)

The CRAN policy says

<quote>
- Packages should not write in the user’s home filespace (including
clipboards), nor anywhere else on the file system apart from the R
session’s temporary directory (or during installation in the location
pointed to by TMPDIR: and such usage should be cleaned up). Installing
into the system

[2019-01-08 15:20] jennybc commented on #38
I think the main thing is to make sure that no code that exercises the clipboard ever runs on CRAN. At all. Ever. And that it would be impossible for a user to NOT understand that clipr may access their clipboard, i.e. clipr usage is effectively consent.

Given the name, description, etc. of clipr, I think it will likely continue to be tolerated as a "limited exception", if you can ensure that it

[2019-01-09 04:47] MilesMcBain commented on #38
Hard not to be triggered by this. To give you until Jan 22 is quite cruel. Kind of assumes you would be privileged enough to be able to spend work hours on it. Boo.

[2019-01-09 06:59] MilesMcBain commented on #38
So I took a look at the `xsel` stuff again since I was the last one to touch it.

This bit of the xsel man page is relevant:

[code]

So that child process is the one sticking around. I can reproduce it on my Ubuntu machine. The thing is under normal usage the xsel child gets nuked the next time the clipboard is used by another application. I've confirmed this is the case. So I don't know why it's

[2019-01-09 07:05] MilesMcBain commented on #38
Could `write_clip()` detect it is on CRAN?

[2019-01-10 14:59] mdlincoln commented on #38
Thanks both so much for your thoughts. And yes, this explication is really useful @MilesMcBain (also re #36).

It seems to me that they are adamant that `write_clip()` not run in a non-interactive session - which I certainly understand, save that it makes testing quite ridiculous. If I set `write_clip` to error if run when `!interactive()`, I may introduce an argument `noninteractive=FALSE` to `wr

[2019-01-10 15:06] mdlincoln commented on #37
Thanks for this idea. Unfortunately, getting the full path rather than just the file name seems entirely platform-dependent. For example, "copying" a file on OS X and then calling `pbpaste` gives the file name but nothing about the larger path. clipr strives to be platform-independent so it can do the same thing regardless of being on Windows, OS X, Red Hat, etc.

[2019-01-10 15:06] #37 closed

[2019-01-10 15:13] mdlincoln opened #39 "write_clip should error when !interactive()"
re #38

[2019-01-10 16:00] jennybc commented on #38
https://github.com/tidyverse/reprex/blob/03eac22fd3bec4de55ff7f01bbaf6dc243cc0cfb/tests/testthat/helper.R#L5-L9

https://github.com/tidyverse/reprex/blob/4705ca9dc666f1a4d42e5dae870e4842d73825f3/R/utils-interactivity.R#L1-L7

I have effectively made sure that I don't touch the clipboard on CRAN. God, at least I hope I have. Maybe some of the above could be brought into clipr itself.

I think it wo

[2019-01-10 16:01] jennybc commented on #39
As I say in #39, I would really like this to be a bit more subtle / flexible.

[2019-01-10 16:07] mdlincoln opened #40 "skill all tests that use write_clip() on cran"

[2019-01-10 16:14] mdlincoln commented on #38
@jennybc yeah, I definitely see where you are coming from. Would it be more user-friendly to have `allow_non_interactive` to check for an environment variable (like your `CLIPBOARD_AVAILABLE` for example), so that package builders wouldn't have to dig all the way in to change function arguments, but instead just set that envvar when they want to run their tests off CRAN?

[2019-01-10 16:34] jennybc commented on #38
Yeah I definitely think this should be controlled by an option or env var, not an argument. This reduces the clutter and also makes the "CRAN kill switch" easier to identify and flip.

[2019-01-10 16:38] mdlincoln commented on #38
@jennybc do you have a strong opinion about R option vs. envvar? To be honest, I've never quite understood best practices for when you would choose one over the other...

[2019-01-10 17:09] jennybc commented on #38
I'm going to invite others to chime in. Please hold.

[2019-01-10 17:48] jimhester commented on #38
I think something like `enabled = Sys.getenv("CLIPR_ENABLE", interactive())` would be ideal.

It should preserve the interactive case as before, but be disabled during `R CMD check` on CRANs machines, and if authors wanted to enable clipr on a CI system they can set the envvar.

[2019-01-10 18:08] gaborcsardi commented on #38
Why not just clean up the external processes? processx/ps can do that.

[2019-01-10 18:15] kevinushey commented on #38
What if another application is attempting to use the X11 clipboard through `xsel` / `xclip`? It seems like that would cause issues there.

Since `xsel` basically tries to run as a daemon I think the best fix is just to make sure it never gets run on CRAN altogether rather than try to manage its lifetime. (My understanding is that attempting to 'copy to the clipboard' with X11 really means 'create

[2019-01-10 18:54] gaborcsardi commented on #38
@kevinushey The xsel process that we started can only hold the selection we send to it. E.g. if you just select sg. in a terminal, our xsel process quits automatically. There is no harm cleaning up _our_ xsel process.

AFAICT `xclip` works the same way.

[2019-01-10 19:02] kevinushey commented on #38
I think this would be surprising though, e.g.

1. Launch R,
2. Run `clipr::write_clipboard("hello")`,
3. Close R,
4. Attempt to paste the clipboard to some other program.

In (4), if the `xsel` / `xclip` process was closed along with R in (3), you'll no longer be able to paste the original clipboard text, which IMHO doesn't feel right.

[2019-01-10 19:03] mdlincoln commented on #38
this has been my concern about trying to solve this via process management.

[2019-01-10 19:06] gaborcsardi commented on #38
I meant cleaning up at the end of the tests. You probably don't want to keep the selection that you copied in the tests?

[2019-01-10 19:14] kevinushey commented on #38
Ahhh, okay. Sorry for being dense; that seems reasonable (although still 'scary' relative to just never running clipboard tests on CRAN)

[2019-01-10 19:15] jennybc commented on #38
I strongly believe there should never be an attempt to read or write the clipboard on CRAN.

[2019-01-10 21:11] mdlincoln commented on #38
Alright, I think the importance of not having CRAN jeopardize this package again overrides the annoyance of not being able to test on CRAN's infrastructure. I worry that any process-fudging solution will be quite fragile - even in this case, it's quite odd that it's only one linux build that is doing this, why aren't the others? And I don't have the time, or, frankly, the knowledge base to spend d

[2019-01-10 21:43] jennybc commented on #38
As @jimhester pointed out elsewhere, it also depends on the flags CRAN is using, e.g. whether `--no-tests` is set or not. That could vary by platform and over time.

Just on principle, I think the env var's name should include "clipr". Maybe `CLIPR_CLIPBOARD_AVAILABLE` or some such.

[2019-01-10 21:59] gaborcsardi commented on #38
This does break the CRAN checks for existing packages that use clipr in their test  cases or examples, though, right?

[2019-01-10 22:23] MilesMcBain commented on #38
@gaborcsardi They should all have cleaned those up after Episode 1 of Fun with CRAN and Clipboards almost exactly a year ago. A lingering xsel processes on Fedora and xclip process on Solaris were cited back then in BDR's original letter of indictment.

I think the proposed change makes sense.

[2019-01-10 22:39] mdlincoln commented on #38
I just ran revdep_check() after trying out adding an error on `!interactive()` and got no errors from anyone so it would seem they either weren't testing code that invoked `write_clip` or, like reprex, datapasta, readr, and others, made sure to check for clipboard availability as instructed.

[2019-01-11 12:47] #39 closed

[2019-01-11 12:47] #40 closed

[2019-01-11 15:06] mdlincoln commented on #38
clipr 0.5.0 is on its way to CRAN - hopefully these modifications pass muster with them. Thanks all for your very helpful input.

[2019-01-12 12:42] #35 closed

[2019-01-12 12:42] #36 closed

[2019-01-12 12:42] #38 closed

[2019-01-15 18:32] mdlincoln opened #41 "refer to rclipboard if users want to use shiny to write to clipboards"
Gotten several ?s from folks confused why clipr doesn't write from remote servers to local clipboards when using shiny. Will add reference to https://github.com/sbihorel/rclipboard

[2019-02-11 21:00] wangyuchen opened #42 "Interactive use and copying graphs"
First, thank you for this awesome package!

Before I discovered this package recently, I have been maintaining a package that has similar functionalities within my company for 3 years. It is not as thorough as `clipr` and it only works on Windows. However, there are some features in that package that are really handy. I'd love to know what you think about them and if you'd consider adding them to

[2019-02-18 22:37] mdlincoln commented on #42
Thanks so much for your detailed message and suggestions @wangyuchen! My thoughts:

1. I like this a lot - I know I'd end up using it a lot based on my own patterns of `clipr` usage. Instead of modifying the default behavior of `write_clip()`, though, I'd probably prefer to export a new wrapper function like `write_last_clip()`.
2. Both `write_clip(..., return_new = TRUE)` and `write_clip(..., ret

[2019-02-19 18:03] wangyuchen commented on #42
1: Thanks! Adding a separate wrapper makes sense. I know that once it's been published even the smallest modification can have unexpected consequences.

2 & 4: Same as 1, changing the current default behavior might have consequences, even if you leave a backdoor option for it.

For `[` subsetting, I think `data.table` modified it most... Depending on if you have `data.table` loaded or not, a scrip

[2019-02-25 13:53] mdlincoln commented on #42
Sure, go ahead and add separate PRs for the wrappers so I can take a look!

[2019-02-25 13:55] mdlincoln commented on #41
Added with 8483222bb3e5c895ee2a2545d0a883562c4a9627

[2019-02-25 13:55] #41 closed

[2019-04-16 13:51] mdlincoln commented on #42
I've merged most of these requests with [0.6.0](https://github.com/mdlincoln/clipr/tree/v0.6.0). Thanks for your ideas!

[2019-04-16 13:51] #42 closed

[2019-05-17 19:43] jennybc opened #45 "Can clipr_available() start a process?"
Since `clipr_available()` calls `clipr_available_handler()` and that tries to both read and write the clipboard, don't you think a call to `clipr_available()` could still create problems at CRAN, i.e. it could still tickle some process and leave it running?

Perhaps `clipr_available_handler()` should look more like this:

[code]

[2019-05-17 19:46] jennybc opened #46 "Consider renaming warn_interactive()"
I strongly associate "warn" with `warning()` and therefore find it non-obvious that `warn_interactive()` throws an error:

[code]

Would you considering using "stop" or "abort" in this name, instead of "warn"?

I know this is just an internal function, but I'm reading things carefully right now, to rework some stuff in reprex. I want to make sure I really understand when clipr can and cannot touch

[2019-05-17 19:48] jennybc opened #47 "Be just as careful with read_clip() as write_clip()"
I suspect that `read_clip()` should have the same safeguards vis-a-vis CRAN-proofing as `write_clip()`. So it should not even think about touching the clipboard in a non-interactive session, unless CLIPR_ALLOW is TRUE.

[2019-05-31 14:36] PMassicotte opened #48 "clipr not available when using tests"
Hi there, and thank you for the great package.

I am developing some test for my package and I can not get it working with `clipr`.

![image](https://user-images.githubusercontent.com/4519221/58713022-c0d11280-838f-11e9-8ef6-b01ab6d8d911.png)
It seems that `clipr::clipr_available(allow_non_interactive = TRUE)` always returns `FALSE` so the code is never evaluated by `covr`. I have read the documen

[2019-05-31 14:45] #48 closed

[2019-07-17 15:52] jennybc commented on #45
I'm not entirely sure what's going on, but my spidey sense says that it is possible this issue explains why gitignore had trouble with CRAN:

https://github.com/ropensci/gitignore/issues/7

[2019-07-19 20:42] eliocamp opened #49 "Read / write images"
From my testing it seems that clipr only works with text data. Would it be possible for it to work on images too?

I implemented something like that for my spindler package (code [here](https://github.com/eliocamp/spindler/blob/master/R/addIn.R) only tested the linux part) and realised that maybe it would be coold to have it on clipr.

[2019-07-20 17:43] mdlincoln commented on #46
Yep, a logical suggestion! Will change.

[2019-07-20 17:51] mdlincoln commented on #45
Hi @jennybc - thanks so much for your patience with my response. Life intervenes!

Yes, it makes a lot of sense to weave the `CLIPR_ALLOW` check more deeply throughout the package. I'll incorporate this along with the other suggestions.

[2019-07-21 14:23] mdlincoln commented on #47
Closed with 17bdae67de162eeeb65419829fe6d450fac202e4

[2019-07-21 14:23] #47 closed

[2019-07-21 14:23] mdlincoln commented on #45
Closed with 17bdae67de162eeeb65419829fe6d450fac202e4

[2019-07-21 14:23] #45 closed

[2019-07-21 14:26] #46 closed

[2019-07-21 14:31] mdlincoln commented on #49
Thanks @eliocamp, [I've gotten this request before](https://github.com/mdlincoln/clipr/issues/42)! I simply don't have the capacity to build this out myself, unfortunately.

I would welcome a PR, however it would _absolutely have to be a platform independent implementation_, since that's the whole point of clipr in the first place. If that's something you think you'd be interested in taking on, I'

[2019-07-21 14:36] mdlincoln commented on #47
@jennybc Give this a spin with your latest! FYI I noticed a glaring issue in the docs for `clipr_available`, which at one point stated that the envvar being checked was `CLIPBOARD_AVAILABLE` rather than `CLIPR_ALLOW` 🙊 😓 It looks like this was at one point written into the code for reprex - things are now passing revdepchecks, and it looks like you no longer call that in current reprex code, but I

[2019-07-21 17:26] eliocamp commented on #49
Ok, I'll see what I can do.

[2019-07-21 18:25] eliocamp commented on #49
What would it be the desired behaviour? Images could be returned as arrays or saved in disk and returned as a path.

[2019-08-08 08:39] kongdd opened #50 "Placing a string on the clipboard without a newline"
As the  question stated at
https://stackoverflow.com/questions/17140424/placing-a-string-on-the-clipboard-without-a-newline

[2020-03-19 18:25] jzadra opened #52 "Copying and pasting tables into word/google docs/email"
I'm struggling with getting tables I've copied using `clipr` to paste into external places. I often need to do a quick share of a table into an email or to a word or google document.

When I do this with a table and paste it into the things mentioned above, the spacing is all messed up when it goes to a plain text editor (ie Spark, my email client) or to an editor that has table functionality (MS

[2020-03-24 12:53] mdlincoln commented on #52
You note two issues:

1. Pasting in to google docs: I can't replicate your issue. If you look at `?write_clip` you'll see it uses `write.table` for dataframes to write out tab-separated text. I can paste the output of `write_clip(iris)` into a google sheet or an excel table just fine.
2. Spacing in plain text: you'll need to format the table into a text string before using clipr. I'd suggest using

[2020-03-24 18:34] jzadra commented on #52
Thanks.  When I try the Kable, I get a very scrunched and hard to read table that isn’t aligned with spacing between columns.

| Sepal.Length| Sepal.Width| Petal.Length| Petal.Width|Species |
|------------:|-----------:|------------:|-----------:|:—————|
| 5.1| 3.5| 1.4| 0.2|setosa |
| 4.9| 3.0| 1.4| 0.2|setosa |
| 4.7| 3.2| 1.3| 0.2|setosa |
| 4.6| 3.1| 1.5| 0.2|setosa |
| 5.0| 3.6| 1.4| 0.2|seto

[2020-03-26 13:46] mdlincoln commented on #52
kable assumes that you are pasting text that will be rendered with a fixed-width font. I guess I'm confused about your end goal? Are you trying to paste a table into a .txt document? An excel table?

[2020-03-26 15:25] jzadra commented on #52
Hi,

I’m trying to paste it into email.

Thanks,

Jon

--
Jonathan Zadra, PhD (he/him)
Director of Data Science
Sorenson Impact Center
David Eccles School of Business, University of Utah
www.sorensonimpact.com
(801) 581-4815
On Mar 26, 2020, 7:46 AM -0600, Matthew Lincoln <notifications@github.com>, wrote:

--

[2020-03-29 14:40] mdlincoln commented on #52
Use a fixed-width font in the email like Monaco. There's no utility that can properly space a plain-text table using a variable-width font.

[2020-03-29 14:40] #52 closed

[2020-05-05 10:52] matbmeijer opened #53 "write_clip should support copy to HTML Format"
Hi @mdlincoln ,

First of all, thank you for this cross-platform solution, I think it's great. I wanted to ask if it would be possible to add a parameter to the `write_clip` that allows to format tables in HTML format in the clipboard:
![HTML Format](https://user-images.githubusercontent.com/16921170/81058120-13834a80-8ece-11ea-9722-eeb5980d6c2e.png)

This would allow to have a multi-software inte

[2020-05-05 11:00] mdlincoln commented on #53
Thanks, I'm glad you are finding clipr useful.

The function you're looking for is `knitr::kable()`, which can format data frames into HTML, Markdown, and LaTeX strings, among other formats. Combine that with `write_clip()` and you'll have what you're looking for:

[code]

[2020-05-05 11:00] #53 closed

[2020-05-05 13:52] matbmeijer commented on #53
Hi @mdlincoln ,

I think you missed my point, I am sorry if I did not explain myself properly.

I know I can do that with `kable()`, that but I cannot paste a table then in HTML format. This is what I get in Powerpoint when I apply your code with the following code:
[code]
![result](https://user-images.githubusercontent.com/16921170/81073084-63bad680-8ee7-11ea-93dc-c268d006d6d4.png)

As mentioned

[2020-05-05 14:20] matbmeijer commented on #53
Hi @mdlincoln ,

I got a really simplistic formula to work in Windows, Linux & Mac should be easier:
[code]
This got me the results I wanted. Maybe a good idea to include?

![iris](https://user-images.githubusercontent.com/16921170/81076790-610eb000-8eec-11ea-85f1-e8b010fc7ddd.png)

[2020-09-30 20:59] csgillespie opened #54 "Running xsel hangs on RStudio"
Running `system2("xsel", "--clipboard")` causes my machine to hang (could be an i3 thing) when using RStudio console.

Changing

[code]
to
[code]
Solves my issues.

The documentation suggests that this is the correct thing to do. It states that the behaviour depends on whether input / output are ttys:

       By default, this program outputs the selection without modification if both standard inpu

[2020-10-01 13:56] mdlincoln commented on #54
Thanks for this detailed report. I'll be able to take a closer look shortly.

[2020-10-07 20:27] mdlincoln commented on #54
Thanks for your patience @csgillespie. It looks like this bug also caused `read_clip()` to hang when run from RStudio - my colleague who has a Linux machine using the KWin window manager helped to diagnose that. Can you give this a spin and check if read/write is working for you?

`devtools::install_github(“mdlincoln/clipr”, ref=“xsel-read-output”)`

[2020-10-07 20:34] csgillespie commented on #54
Seems to work for me.

To test I uninstalled clip

[code]
Then ran
[code]
in RStudio

[2020-10-07 20:35] mdlincoln commented on #54
Alright. I'll ship this off to CRAN.

[2020-10-08 15:30] mdlincoln commented on #54
Now shipped to CRAN.

[2020-10-08 15:30] #54 closed

[2020-10-08 17:23] kevinushey commented on #54
Thank you for taking a look so quickly!

[2020-11-20 15:18] mdlincoln opened #55 "Move off of Travis CI"
https://ropensci.org/technotes/2020/11/19/moving-away-travis/

[2021-04-10 20:39] AshesITR opened #56 "Read / Write HTML"
Particularly useful in conjuction with `knitr::kable(format = "html")` to copy a HTML table to clipboard, e.g. for pasting into a mail.

For linux this can be done by specifying `-target text/html` in the `xclip` pipe (can be abbreviated to `-t`)
Windows appears to need a bit of boilerplate as described [here](https://docs.microsoft.com/en-us/windows/win32/dataxchg/html-clipboard-format)
Mac seems

[2021-04-30 08:33] kingwatam opened #57 "Issue in unicode/UTF-8 handling"
I've been using clipr::write_clip() for a while. It's been very helpful in transfering data from a data frame to Excel, for example.

However, clipr::write_clip() is unable to copy data in UTF-8/unicode. Changing the locale using Sys.setlocale() doesn't help, other than turning the unicode text into gibberish when set to the corresponding locale, and the text is copied as unicode when set to Engli

[2021-06-12 22:53] dcousin3 commented on #49
I would like to know if any progress has been made to cut-and-paste images with clipr?

[2021-06-12 23:59] eliocamp commented on #49
I couldn't make it work :disappointed:

[2021-07-30 23:50] ekianjo opened #58 "Issue with Wayland?"
On Linux, no issues with X11, but when running with Wayland, I get the following error:

"Clipboard on X11 requires that the DISPLAY envvar be configured."

ANy work-around?

[2021-10-29 12:45] mmahmoudian commented on #58
That is because both linux clipboard softwares implemented in clipr are X11-specific (namedly xclip and xsel). The most common wayland clipboard software is [wl-clipboard](https://github.com/bugaevc/wl-clipboard) and less common one (which doesn't even exist in Arch repo or AUR) is [wclip](https://gitlab.com/j64wang/wclip) which looks like an abandoned project.

Anyways, @mdlincoln would you pleas

[2021-10-29 13:34] mdlincoln commented on #58
@mmahmoudian thank you, I'll be happy to review a PR! Note that an earlier attempt was made with #51 however it lacked tests that could be run on CI.

[2021-10-29 14:28] mmahmoudian commented on #58
@mdlincoln My experience with Travis is not extensive compared to Github Actions or Gitlab CI/CD so it might take a while but I'll do my best. Let me know if you found a better and more experienced person that you wanted to assign this to though.

[2021-11-15 12:35] mdlincoln opened #59 "Rename default branch to main"

[2021-11-15 12:35] mdlincoln opened #60 "Set up github actions for testing"
https://usethis.r-lib.org/reference/github_actions.html

[2021-11-15 12:35] mdlincoln opened #61 "Remove travis / appveyor CI"
after #60

[2021-11-16 15:31] mdlincoln commented on #58
@mmahmoudian FYI I have some time this week to migrate the builds over to GitHub actions (I have wanted to get off of travis for some time now, this is a good reason!)

[2021-11-16 15:31] #59 closed

[2021-11-16 15:43] mmahmoudian commented on #58
@mdlincoln I'm super busy these days and so far haven't had time to work on this. As far as I've read the code and the various attempts @nacnudus, everything "should"  work and I cannot figure out what the problem can be. I will try to allocate some time this week to look into this, but I would still recommend to use Github Actions as it was a smooth experience for me and is of course well integra

[2021-11-17 15:13] mdlincoln commented on #58
On the `actions` branch I've got all the existing tests running properly again, and am now trying to get a headless wayland testing environment set up. Although I can get wl-copy / wl-paste installed, I'm running into an error `Failed to connect to a Wayland server` when trying to call the commands: https://github.com/mdlincoln/clipr/runs/4239802322?check_suite_focus=true

@bugaevc would you happe

[2021-11-18 09:23] mmahmoudian commented on #58
@mdlincoln This might be helpful:
https://github.com/bugaevc/wl-clipboard/issues/114

As far as I understand, you can add a line before  [line 116 of R-CMD-check.yaml](https://github.com/mdlincoln/clipr/blob/c28a8ce62087ddcdfd4eac7d73571676da574adb/.github/workflows/R-CMD-check.yaml#L116) and add `export WAYLAND_DISPLAY=wayland-1`

[2021-12-07 14:31] mdlincoln commented on #58
I haven't forgotten about this, but I admit to being quite stuck on how to set up headless testing with Wayland. I've got a SO question up now documenting our challenges: https://stackoverflow.com/questions/70247332/use-headless-wayland-sway-when-testing-on-github-actions

[2022-01-31 12:48] yutannihilation opened #62 "Windows clipbaord functions need `format = 13` on R >= 4.2"
You know, on the upcoming R 4.2 for Windows will support UTF-8 as native encoding.

c.f. https://blog.r-project.org/2021/12/07/upcoming-changes-in-r-4.2-on-windows/index.html

While this itself is a very great change, this causes a possible mismatch between the system's encoding and R's encoding. Currently, the default of `format` argument is `1`, which means (from `?clipboard`):

[code]

but R us

[2022-02-02 11:50] mdlincoln commented on #62
Thank you very much for the report and PR 🥂 I will be able to review it a bit later this week.

[2022-02-07 15:27] #58 closed

[2022-02-07 16:47] mdlincoln commented on #57
Thank you for your patience, I realize it's been some time since you originally posted this issue.

Re: #63 I am curious if this issue persists using R 4.2 on windows. Could you try using the latest version of clipr under R 4.2 and report your results?

to install:

[code]

And please post the results you get, along with the output of `devtools::session_info()`

[2022-02-08 07:40] kingwatam commented on #57
4.2 isn't officially out yet. I can do that when it comes out (if only updating/downgrading R isn't so much of a hassle).

[2022-02-24 09:34] dpprdan opened #65 "http://matthewlincoln.net/clipr/ shows 404 error"
Looks like something's wrong with pkgdown site. Also with https: https://matthewlincoln.net/clipr/

[2022-02-24 11:48] mdlincoln commented on #65
Thanks, fixed.

[2022-02-24 11:48] #65 closed

[2022-06-06 04:24] kingwatam commented on #57
I'm happy to report that this issue has now been fixed (using R 4.2). Thank you.

[2022-06-06 04:24] #57 closed

[2022-08-03 23:00] franzbischoff opened #66 "Using clipboard in VSCode + WSL2"
Hello!

I tried to use `reprex` and `datapasta` in VSCode + WSL2 environment and finally, I reached the code line below:

https://github.com/mdlincoln/clipr/blob/d14fc11f37c7ea90e1598fab9b597634f77376d9/R/linux_clipboard.R#L41

Is the "--primary" argument necessary for the usual linux case?
Here I get this error message: "The compositor does not seem to support primary selection"
Removing the "--p